@font-face{
    font-family: 'Electrickle';
    src: url('../fonts/Electrickle.ttf');
}

body {
    margin: 0px;
}

@media(max-width: 768px) {    
    .container {
        display: none;
    }

    .logo p {
        display: none;
    }
}

@media(min-width: 768px) {    
    .container {
        position: fixed;
        display: block;
        height: 100%;
        width: 100%;
    }
    
    .logo {
        position: fixed;
        display: block; 
        right: 46%;
        top: 40%;
        height: 20%;
        width: 20%;
        z-index: 1;
    }

    .logo p {
        position: relative;
        display: block;
        top: -28%;
        left: 28%;
    }

    .logo-letters {
        /* text size and family */
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: Electrickle;
        font-size: 20;
        font-weight: bold;
        /* text gradient */
        font-size: 72px;
        /* background: -webkit-linear-gradient(rgb(0, 102, 255), rgb(0, 225, 255)); */
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .social-networks {
        position: fixed;
        display: block;
        bottom: 10%;
        left: 40%;
        width: 20%;
        height: 10%;
    }

    .social-networks-logos {
        position: relative;
        margin-left: 10%;
        z-index: 1;
        display: inline-block;
        height: 3em;
        width: 3em;
        border-radius: 1.3em;
    }

    .social-networks-logos:hover {
        cursor: pointer;
    }

    .twitter {
        background: url("../imgs/twitter-logo.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .github {
        background: url("../imgs/Octocat.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .linkedin {
        background: url("../imgs/linkedin.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #background {
        z-index: 0;
    }
}