body {
    margin: 0px;
}

@media(max-width: 768px) {    
    .container {
        display: none;
    }

    .logo p {
        display: none;
    }
}

@media(min-width: 768px) {    
    .container {
        position: fixed;
        display: block;
        height: 100%;
        width: 100%;
    }

    .social-networks {
        position: fixed;
        display: block;
        bottom: 10%;
        left: 40%;
        width: 20%;
        height: 10%;
    }

    .social-networks-logos {
        position: relative;
        margin-left: 10%;
        z-index: 1;
        display: inline-block;
        height: 3em;
        width: 3em;
        border-radius: 1.3em;
    }

    #background {
        z-index: 0;
    }
}