@media(min-width: 768px) {
    .twitter {
        background: url("../../imgs/twitter-logo.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .github {
        background: url("../../imgs/Octocat.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .linkedin {
        background: url("../../imgs/linkedin.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .twitter:hover, .github:hover, .linkedin:hover {
        cursor: pointer;
    }
}